body {
    background-color: rgb(232, 223, 223);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}
#container {
    max-width: 350px;
    background-color: rgb(237, 239, 236);
    border-radius: 5px;
    margin: 20px;
    max-height: 270px;
    overflow: hidden;
    max-height: 200px;
}
.open {
    max-width: 1000px;
    max-height: 1000px;
    overflow:visible;
}
#container p {
    margin: 20px;
    text-align: justify;
}
a {
    background-color: rgb(72, 72, 176);
    color: aliceblue;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 3px;
    text-decoration: none;
}