body{
    margin:0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.container {
    padding: 40px;
    background-color: lightpink;
    border-radius: 18px;
    box-shadow:20px 20px #4c53b9;
    min-width: 380px;
}
select{
    height: 40px;
    width: 130px;
    border-radius: 7px;
}
h2 {
    font-weight: normal;
}
