.item {
    height: 100px;
    width: 100px;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
.purple {
    background-color: purple;
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}