*{
    font-family: 'Karla', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
/* top */
.messages{
    background-color: lightgray;
    min-height: 80%;
    background-image: url("pic.jpeg");
    opacity: 60%;
}
.message{
    background-color: rgba(105, 103, 183, 0.7);
    border-radius: 3px;
    margin: 50px;
}
.message p {
    margin: 0;
}
.user-text{
    font-weight: bold;
    padding: 15px;
}
.text-text{
    padding: 15px;
}
.info-text{
    padding: 15px;
    font-size: 0.7em;
}
/* bottom */
.menu{
    background-color: aquamarine;
    height: 250px;
    position: sticky;
    bottom: 0;
}
.text-area{
    width: 100%;
    height: 200px;
    outline: 0;
    border: 0;
    font-size: 25px;
    padding: 15px;
}
button{
    width: 100%;
    height: 50px;
    background-color: #B31312;
    border: 0;
    outline: 0;
    color: white;
    position: absolute;
    bottom: 0;
}
/* other */
 .material-symbols-outlined {
     font-variation-settings:
             'FILL' 0,
             'wght' 400,
             'GRAD' 0,
             'opsz' 48
 }
